<article id="footer">
  <img ngSrc="clouds-idyllic-lake-majestic-462055_JnLLEjqMj.avif" fill alt="" />

  <div class="card raised glass with-border">
    <div class="card-body p-0 raised" role="group">
      <a
        href="https://www.x.com/richardturnmire"
        rel="noopener noreferrer"
        target="_blank"
        title="link to Richard's X account"
      >
        <i class="fa-brands fa-x-twitter fa-3x"></i>
      </a>
      <a
        href="https://www.github.com/richardturnmire"
        rel="noopener noreferrer"
        role="button"
        target="_blank"
        title="Link to Richard's Github repository"
      >
        <i class="fa-brands fa-github-alt fa-3x"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/richardturnmire"
        rel="noopener noreferrer"
        role="button"
        target="_blank"
        title="link to Richard's LinkEdIn profile"
      >
        <i class="fa-brands fa-linkedin-in fa-3x"></i>
      </a>
    </div>
    <div
      class="card-footer footer-copyright text-center text-dark bg-light font-weight-bold"
    >
      <span>© 2022 Copyright: Richard Turnmire</span>
    </div>
  </div>
</article>
