@use "sass:math";
@use "sass:map";
@use "sass:list";

/*   clip-path: polygon(
      0 $clip-point,

      50% 0%,

      50% calc(100% - $clip-point),

      0% 50%

    );
}
*/
@mixin cover() {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

@mixin elevation($dp) {
  @if $dp == 0 {
    box-shadow: none;
  } @else if $dp == 1 {
    box-shadow:
      0 1px 1px 0 rgb(0 0 0 / 14%),
      0 2px 1px -1px rgb(0 0 0 / 12%),
      0 1px 3px 0 rgb(0 0 0 / 20%);
  } @else if $dp == 2 {
    box-shadow:
      0 2px 2px 0 rgb(0 0 0 / 14%),
      0 3px 1px -2px rgb(0 0 0 / 12%),
      0 1px 5px 0 rgb(0 0 0 / 20%);
  } @else if $dp == 3 {
    box-shadow:
      0 3px 4px 0 rgb(0 0 0 / 14%),
      0 3px 3px -2px rgb(0 0 0 / 12%),
      0 1px 8px 0 rgb(0 0 0 / 20%);
  } @else if $dp == 4 {
    box-shadow:
      0 4px 5px 0 rgb(0 0 0 / 14%),
      0 1px 10px 0 rgb(0 0 0 / 12%),
      0 2px 4px -1px rgb(0 0 0 / 20%);
  } @else if $dp == 5 {
    box-shadow:
      0 6px 10px 0 rgb(0 0 0 / 14%),
      0 1px 18px 0 rgb(0 0 0 / 12%),
      0 3px 5px -1px rgb(0 0 0 / 20%);
  } @else if $dp == 6 {
    box-shadow:
      0 8px 10px 1px rgb(0 0 0 / 14%),
      0 3px 14px 2px rgb(0 0 0 / 12%),
      0 5px 5px -3px rgb(0 0 0 / 20%);
  } @else if $dp == 7 {
    box-shadow:
      0 9px 12px 1px rgb(0 0 0 / 14%),
      0 3px 16px 2px rgb(0 0 0 / 12%),
      0 5px 6px -3px rgb(0 0 0 / 20%);
  } @else if $dp == 8 {
    box-shadow:
      0 12px 17px 2px rgb(0 0 0 / 14%),
      0 5px 22px 4px rgb(0 0 0 / 12%),
      0 7px 8px -4px rgb(0 0 0 / 20%);
  } @else if $dp == 9 {
    box-shadow:
      0 16px 24px 2px rgb(0 0 0 / 14%),
      0 6px 30px 5px rgb(0 0 0 / 12%),
      0 8px 10px -5px rgb(0 0 0 / 20%);
  } @else if $dp == 10 {
    box-shadow:
      0 24px 38px 3px rgb(0 0 0 / 14%),
      0 9px 46px 8px rgb(0 0 0 / 12%),
      0 11px 15px -7px rgb(0 0 0 / 20%);
  }

  @if $dp > 0 {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
}
