<header>
  <mdb-sidenav-layout id="scrollspy1">
    <mdb-sidenav
      #sidenav1="mdbSidenav"
      [accordion]="true"
      [mode]="'side'"
      [hidden]="true"
      [backdrop]="true"
      [closeOnEsc]="true"
      [focusTrap]="true"
      class="p-2 m-0 bg-info d-flex flex-column"
      id="myMenu"
      [color]="'red'"
    >
      <div class="card mx-auto rounded-9 my-2">
        <img
          [ngSrc]="'Profile_-2D6ksmq7.avif'"
          fill
          priority
          sizes="10vw"
          alt=""
          class="figure-img img-thumbnail rounded-9"
        />
        <div class="card-footer text-center font-bolder text-dark">
          Richard Turnmire
        </div>
      </div>
      <i
        class="fas fa-angle-down rotate-icon"
        style="transform: rotate(180deg)"
      ></i>

      <ul
        class="sidenav-menu mx-1 px-1 rounded-9"
        id="side-container1"
        mdbSidenavMenu
      >
        <mdb-sidenav-item>
          <a
            class="sidenav-link"
            [routerLink]="['/home']"
            routerLinkActive="link-active"
            [routerLinkActiveOptions]="isActiveMatchOptions"
            [ariaCurrentWhenActive]="ariaCurrentWhenActive"
          >
            <div class="me-2">
              <i class="fa-duotone fa-envelope-open-text fa-xl fa-fw me-2"></i
              >Home
            </div>
          </a>
        </mdb-sidenav-item>
        <mdb-sidenav-item>
          <a
            class="sidenav-link"
            tabindex="0"
            mdbRipple
            role="button"
            [attr.aria-expanded]="!category1.collapsed"
            aria-controls="category1"
            ><i class="fa-duotone fa-tools fa-fw me-3"></i>Skills</a
          >
          <ul
            class="sidenav-collapse"
            mdbCollapse
            id="category1"
            #category1="mdbCollapse"
          >
            <li class="sidenav-item">
              <a
                class="sidenav-link"
                mdbRipple
                [routerLink]="['/home']"
                routerLinkActive="link-active"
                fragment="mainskill"
                [routerLinkActiveOptions]="isActiveMatchOptions"
                [ariaCurrentWhenActive]="ariaCurrentWhenActive"
                >Mainframe Developer</a
              >
            </li>
            <li class="sidenav-item">
              <a
                class="sidenav-link"
                mdbRipple
                [routerLink]="['/home']"
                routerLinkActive="link-active"
                fragment="devskill"
                [routerLinkActiveOptions]="isActiveMatchOptions"
                [ariaCurrentWhenActive]="ariaCurrentWhenActive"
                >Software Developer</a
              >
            </li>
            <li class="sidenav-item">
              <a
                class="sidenav-link"
                mdbRipple
                [routerLink]="['/home']"
                routerLinkActive="link-active"
                fragment="softskill"
                [routerLinkActiveOptions]="isActiveMatchOptions"
                [ariaCurrentWhenActive]="ariaCurrentWhenActive"
                >Soft Skills</a
              >
            </li>
            <li class="sidenav-item">
              <a
                class="sidenav-link"
                mdbRipple
                [routerLink]="['/home']"
                routerLinkActive="link-active"
                fragment="miscskill"
                [routerLinkActiveOptions]="isActiveMatchOptions"
                [ariaCurrentWhenActive]="ariaCurrentWhenActive"
                >Miscellaneous Skills</a
              >
            </li>
          </ul>
        </mdb-sidenav-item>
        <mdb-sidenav-item>
          <a
            class="sidenav-link"
            tabindex="0"
            mdbRipple
            role="button"
            [attr.aria-expanded]="!category2.collapsed"
            aria-controls="category2"
            ><i class="fa-duotone fa-briefcase fa-fw me-3"></i>Jobs</a
          >
          <ul
            class="sidenav-collapse"
            mdbCollapse
            id="category2"
            #category2="mdbCollapse"
          >
            @for (job of jobs(); track job.companyId; let i = $index) {
              <li class="sidenav-item">
                <a
                  [routerLink]="['/home']"
                  [fragment]="'job' + job.companyId"
                  routerLinkActive="link-active"
                  tabIndex="0"
                  [routerLinkActiveOptions]="isActiveMatchOptions"
                  class="sidenav-link"
                  mdbRipple
                >
                  {{ job.toolTip }}
                </a>
              </li>
            }
          </ul>
        </mdb-sidenav-item>
        <mdb-sidenav-item>
          <a
            class="sidenav-link"
            tabindex="0"
            mdbRipple
            role="button"
            [attr.aria-expanded]="!category3.collapsed"
            aria-controls="category3"
            ><i class="fa-duotone fa-rectangle-history fa-fw me-3"></i
            >Projects</a
          >
          <ul
            class="sidenav-collapse"
            mdbCollapse
            id="category3"
            #category3="mdbCollapse"
          >
            @for (prj of projects(); track prj.projectId; let i = $index) {
              <li class="sidenav-item">
                <a
                  class="sidenav-link"
                  tabindex="0"
                  [routerLink]="['/home']"
                  routerLinkActive="link-active"
                  [fragment]="'project' + prj.projectId"
                  [routerLinkActiveOptions]="isActiveMatchOptions"
                  [ariaCurrentWhenActive]="ariaCurrentWhenActive"
                  mdbRipple
                  >{{ prj.projectName }}</a
                >
              </li>
            }
          </ul>
        </mdb-sidenav-item>

        <mdb-sidenav-item>
          <a
            class="sidenav-link"
            tabindex="0"
            mdbRipple
            role="button"
            [attr.aria-expanded]="!category4.collapsed"
            aria-controls="category4"
            ><i class="fa-duotone fa-university fa-fw me-3"></i>Education</a
          >
          <ul
            class="sidenav-collapse"
            mdbCollapse
            id="category4"
            #category4="mdbCollapse"
          >
            <li class="sidenav-item">
              <a
                class="sidenav-link"
                [routerLink]="['/home']"
                routerLinkActive="link-active"
                fragment="bootcamp"
                [routerLinkActiveOptions]="isActiveMatchOptions"
                [ariaCurrentWhenActive]="ariaCurrentWhenActive"
                mdbRipple
                tabindex="0"
              >
                Bootcamp
              </a>
            </li>
            <li class="sidenav-item">
              <a
                class="sidenav-link"
                mdbRipple
                [routerLink]="['/home']"
                routerLinkActive="link-active"
                fragment="education"
                [routerLinkActiveOptions]="isActiveMatchOptions"
                [ariaCurrentWhenActive]="ariaCurrentWhenActive"
              >
                WKU
              </a>
            </li>
          </ul>
        </mdb-sidenav-item>
        <mdb-sidenav-item>
          <a
            class="sidenav-link"
            [routerLink]="['/favorites']"
            routerLinkActive="link-active"
            [routerLinkActiveOptions]="isActiveMatchOptions"
            [ariaCurrentWhenActive]="ariaCurrentWhenActive"
          >
            <div class="me-2">
              <i class="fa-duotone fa-stars fa-xl fa-fw me-2"></i>Favorites
            </div>
          </a>
        </mdb-sidenav-item>
        <mdb-sidenav-item>
          <a
            class="sidenav-link"
            [routerLink]="['/features']"
            routerLinkActive="link-active"
            [routerLinkActiveOptions]="isActiveMatchOptions"
            [ariaCurrentWhenActive]="ariaCurrentWhenActive"
          >
            <div class="me-2">
              <i class="fa-duotone fa-circles-overlap fa-xl fa-fw me-2"></i
              >Features
            </div>
          </a>
        </mdb-sidenav-item>
        <mdb-sidenav-item>
          <a
            class="sidenav-link"
            [routerLink]="['/contact']"
            routerLinkActive="link-active"
            [routerLinkActiveOptions]="isActiveMatchOptions"
            [ariaCurrentWhenActive]="ariaCurrentWhenActive"
          >
            <div class="me-2">
              <i class="fa-duotone fa-envelope-open-text fa-xl fa-fw me-2"></i
              >Contact
            </div>
          </a>
        </mdb-sidenav-item>
      </ul>
    </mdb-sidenav>
    <mdb-sidenav-content>
      <nav
        id="topMenu"
        class="header navbar navbar-expand-sm bg-transparent fixed-top mt-0 pt-0"
        aria-label="Top menu"
      >
        <button
          #sidenavToggle
          (click)="sidenav1.toggle()"
          aria-controls="myMenu"
          aria-expanded="false"
          aria-label="Toggle navigation"
          class="btn btn-primary btn-sm p-1 ms-auto me-2"
          type="button"
        >
          <span><i class="fa-duotone fa-bars fa=fw fa-2x"></i></span>
        </button>
      </nav>
    </mdb-sidenav-content>
  </mdb-sidenav-layout>
</header>
<!--<mdb-loading [show]="show" [fullscreen]="true">
    <div class="loading-spinner">
        <div class="spinner-border loading-icon" role="status"></div>
        <span class="loading-text">Loading...</span>
    </div>
</mdb-loading>-->
<main>
  <router-outlet></router-outlet>
</main>
